<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/npm.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
</head>