<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
	<div class="container" style="padding-left: 200px; padding-right: 200px;">
		<div class="row">
			<form action="insert" method="GET" role="form">
				<legend>Twitter</legend>
			
				<div class="form-group">
					<label for="">Twit</label>
					<input type="text" class="form-control" name="twit" placeholder="Input twit">
				</div>

				<div class="form-group">
					<label for="">Tag</label>
					<input type="text" class="form-control" name="tag" placeholder="Input tag">
				</div>				
			
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>
	</div>
</body>
</html>