	<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 50px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Almaty</a>
			</div>
		</div>
	</nav>