<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
	<div class="container" style="padding-left: 60px; padding-right:60px;">
		<div class="row">
			<a class="btn btn-danger" href="/">Back</a>
			<br><br>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Twit</th>
						<th>Tag</th>
					</tr>
				</thead>
				<tbody>
						{% for twit in twits %}
					<tr>
							<td>{{ twit.twit }}</td>
							<td>
								{% for tag in twit.tags %}
									<a class="btn" href="select?tag={{ tag }}">{{ tag }}</a>
								{% endfor %}								
							</td>							
					</tr>
						{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>